<div class="container">
    <div class="row mb-5">
        <div class="col text-center">
            <h1>It's Burger Time!</h1>
            <h5>Are you ready to devour some burgers???</h5>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-6 text-center">
            <h2>Burgers to eat!</h2>
            <ul class="text-left">
                {{#each burgers}}
                <li>
                    {{#unless devoured}}
                    {{burger_name}}
                    <button class="change-devoured" data-id="{{id}}" data-newsleep="{{devoured}}">
                        DEVOUR
                    </button>
                    {{/unless}}
                </li>
                {{/each}}
            </ul>

        </div>
        <div class="col-6 text-center">
            <h2>Devoured Burgers!</h2>
            <ul class="text-left">
                {{#each burgers}}
                <li>
                    {{#if devoured}}
                    {{burger_name}}
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h2>Add a Burger</h2>
            <form class="create-form">
                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <input type="text" id="ca" name="name">
                </div>
                <button type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</div>