body {
  background: #faebd7;
}
li {
  padding: 5px;
  margin: 5px;
  background: #fcfbfb;
  width: 100%;
}

label {
  font-size: 22px;
}

.create-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}
